<header>
  <nav class="navbar">
    <a href ="/"class="logo">Vend<a>
    <div>
      <form method="GET" action="/items" class="form-inline form-3">
        <input class="form-control form-input" type="text" placeholder="Search" name="search" />
        <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <% if (!userID) { %>
      <div class="user-info">
        <a href="/login" class="btn btn-outline-dark btm-sm pb-0 pt-0">Log In</a>
        <a href="/register" class="btn btn-outline-dark btn -sm pb-0 pt-0">Register</a>
      </div>
    <% } else {%>
      <div class="user-info">
        <a href="/profile" class="btn btn-outline-dark btm-sm pb-0 pt-0">Your Profile</a>
        <a href="/messages" class="btn btn-outline-dark btm-sm pb-0 pt-0">Messages</a>
        <form method="POST", action="/logout" class="form-inline">
          <button type= "submit" class="btn btn-outline-dark btm-sm pb-0 pt-0">Logout</button>
        </form>
      </div>
    <% }%>
  </nav>
</header>
