<header>
  <nav class="navbar">
    <a class="logo" href="/">Vend</a>
    <div>
      <form method="POST" action="/search" class="form-inline">
        <input class="form-control" type="text" placeholder="Search" name="search" />
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
    <div>
      User info
    </div>
  </nav>
</header>
