<header>
  <nav class="navbar">
    <a href ="/"><button class="logo" href="/">Vend</button></a>
    <div>
      <form method="GET" action="api/items/search" class="form-inline">
        <input class="form-control" type="text" placeholder="Search" name="search" />
        <button class="nav-btn" type="submit">Search</button>
      </form>
    </div>
    <div class="user-info">
      <p>Log In</p>
      <p>Register</p>
    </div>
  </nav>
</header>
