<header>
  <nav class="navbar">
    <a href ="/"><button class="logo" href="/">Vend</button></a>
    <div>
      <form method="GET" action="/search" class="form-inline form-3">
        <input class="form-control form-input" type="text" placeholder="Search" name="search" />
        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <div class="user-info">
      <a href="/login"><p>Log In</p></a>
      <a href="/register"><p>Register</p></a>

    </div>
  </nav>
</header>
