<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body style="text-align: center;">
    <h1>VEND</h1>
    <h2>The place to buy and sell your stuff</h2>

    <!-- Search form -->
    <form action="/search" method="POST">
      <input id="item_search" type="text" name="item_search" value="Search">
      <label for="search_min">Minimum price:</label>
      <input id="search_min" type="number" name="search_min">
      <label for="search_max">Maximum price:</label>
      <input id="search_max" type="number" name="search_max">
      <button type="submit">Search</button>
    </form>
  </body>
</html>
