<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
    <header>
      <nav class="navbar">
        <a href ="/"><button class="logo" href="/">Vend</button></a>
        <% if (!userID) { %>
          <div class="user-info">
            <a href="/login"><p>Log In</p></a>
            <a href="/register"><p>Register</p></a>
          </div>
        <% } else {%>
          <div class="user-info">
            <a href="/profile"><p>Your Profile</p></a>
            <a href="/messages"><p>Messages</p></a>
            <form method="POST", action="/logout" class="form-inline">
              <button type= "submit" class="">Logout</button>
            </form>
          </div>
        <% }%>
      </nav>
    </header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <!-- page-specific styles here: -->
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Righteous&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/43bb42825d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <section class="container col-5">
      <h2>Create New Listing:</h2>
      <div class="form">
        <form method="POST" action='/items/item/new' class='form'>
          <label for="name">Name:</label>
          <input class="form-control" type="text" placeholder="name" name="name" id="name">
          <label for="description">Description:</label>
          <input class="form-control" type="text" placeholder="description" name="description" id="description">
          <label for="price">Price:</label>
          <input class="form-control" type="tel" placeholder="price" name="price" id="price">
          <label for="image_url">Image url:</label>
          <input class="form-control" type="text" placeholder="image_url" name="image_url" id="image_url">
          <button class="btn btn-primary mt-4" type="submit">Sell!</button>
        </form>
      </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
