<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
    <%- include('partials/_header') %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  </head>

  <body>
    <h3>Registration Page</h3>
    <form method="POST" action="/register" class="form-inline">
      <input class="form-control" type="text" placeholder="Name" name="name" />
      <input class="form-control" type="email" placeholder="Email" name="email" />
      <input class="form-control" type="password" placeholder="password" name="password" />
      <input class="form-control" type="tel" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required name="phone" />
      <input class="form-control" type="text" placeholder="street" name="street" />
      <input class="form-control" type="text" placeholder="city" name="city" />
      <input class="form-control" type="text" placeholder="province" name="province" />
      <input class="form-control" type="text" placeholder="country" name="country" />
      <input class="form-control" type="text" placeholder="postal code" name="postalCode" />
      <input type="checkbox" name="isVendor" checked>Check if you are selling?</input>
      <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
