.logo {
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
}
.user-info {
  display:flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.form-3 {
  width: 500px;
  justify-content: space-between;
}

.form-input {
  flex-grow: 3;
}

.navbar {
  background-color: rgba(255,255,255,0.2);
}
