.logo {
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
}
.user-info {
  display:flex;
  width: 10%;
  justify-content: space-between;
}

.form-3 {
  width: 500px;
  justify-content: center
}

.form-input {
  flex-grow: 3;
}
