body{
  background:#eee;
  background-image: url('/images/background-img2.jpg');
  background-size: cover;
}

.img-responsive {
  width: auto;
  height: 100px;
}


.sold {
  color: #c34745;
  z-index: 1;
  order: -1;
  align-self: center;
  flex-grow: 4;
  font-size: 400%;
  font-weight: bold;
}
