body {
  background-color: #EEE;
  background-image: url('/images/background-img2.jpg');
  background-size: cover;
}

.new-listing {
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 10px;
  margin-top: 2%;
}
