body {
  background-color: #EEE;
  font-family: 'Montserrat', sans-serif;

}

body h1 {
  color: #244751;
}

.logo {
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
}
.user-info {
  display:flex;
  width: 10%;
  justify-content: space-between;
}

.nav-btn {
  border: none;
  background-color: orange;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  cursor: pointer;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.form-second {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-container {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
