body {
  background-color: #EEE;
  font-family: 'Montserrat', sans-serif;
  background-image: url('/images/background-img2.jpg');
  background-size: cover;
}

body h1 {
  color: #244751;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.login-form {

  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-control {
  margin: 5px;
}

.login-button{
  margin: 5px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  margin: 10px 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
