.form-second {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-container {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  margin: 3px;
}

body {
  background-image: url('/images/background-img2.jpg');
  background-size: cover;
}
