.form-second {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-container {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  margin: 3px;
}

body {
  background-image: url('/images/background-img2.jpg');
  background-size: cover;
}

//1


//2
// SELECT users.name, array_agg(messages.message_content) as messages, array_agg(messages.date_created) as times FROM users
//     JOIN messages on users.id = messages.user_id OR users.id = messages.vendor_id
//     WHERE item_id =$1 AND (vendor_id = $2 OR vendor_id = $3) AND (user_id = $3 OR user_id = $2)
//     GROUP BY users.id;
